###################################
#KNXtoMQTT/AMQP Configuration file#
###################################

#IoT connection: 
mode=MQTT 
# MQTT or  AMQP

##################################
# MQTT Configuration             # 
##################################

MQTT_broker_url = tcp://localhost:1883                
# scheme://host:port
MQTT_qos = 0                                    
#0/1/2

#################################
# AMQP Configuration            #
#################################

AMQP_userName = guest
AMQP_password = guest
AMQP_virtualHost= /
AMQP_hostName = localhost
AMQP_port = 5672

#################################
# KNX Configuration             #
#################################
KNX_host=169.254.146.146


